*, *::before, *::after {
    box-sizing: border-box;
} 

body {
    margin: 0 auto;
    font-size: 36px;
    font-family: 'Marck Script', cursive;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(1,6,22,1) 100%);
    color: #e3ebe4;
    
}

h5 {
    text-align: right;
    font-style: italic;
    padding-left: 450px;
    padding-right: 450px;
}

h1, p {
    text-align: center;
}